BallInfoApplication/*.iml
BallInfoApplication/.gradle
BallInfoApplication/.idea
BallInfoApplication//local.properties
BallInfoApplication//.idea/workspace.xml
BallInfoApplication//.idea/libraries
BallInfoApplication/.DS_Store
BallInfoApplication//build
BallInfoApplication//captures
BallInfoApplication//gradle
